@font-face {
    font-family: "Tektur Condensed";
    src: 
        local('Tektur Condensed Medium'), 
        local('TekturCondensed-Medium'),
        url('../fonts/TekturCondensed-Medium.woff2') format('woff2'),
        url('../fonts/TekturCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}